@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

body {
  @apply m-0 bg-slate-100 text-slate-800;
}

.dark body {
  @apply bg-slate-900 text-slate-100;
}

* {
  box-sizing: border-box;
}
